<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Recipe</title>
    <style>
        *{
            font-family: monospace;
        }
        input{
            padding: 5px;
        }
        form{
            border: 1px solid black;
            border-radius: 10px;
            padding: 20px;
            width: fit-content;
            margin: auto;
        }
    </style>
</head>
<body>
    
    <form method="post">
        <h1>Create your recipe</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
        <div>
            <a href="/recipe">view recipes</a>
        </div>
    </form>
   
</body>
</html>
